<nb-card>
  <nb-card-header class="text-center">
    <h1>Apparaten</h1>
  </nb-card-header>
</nb-card>

<div class="row">
  <div class="col-md-3 col-xs-12" *ngFor="let device of devices | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: countDevices }">
    <nb-card [routerLink]="device._id">
      <nb-card-header>
        {{ device.name }}
      </nb-card-header>
      <nb-card-body>
        <div class="mb-2">
          <p class="type">App ID</p>
          <p class="value">{{ device.appId }}</p>
        </div>
        <div class="mb-2">
          <p class="type">Device ID</p>
          <p class="value">{{ device.devId }}</p>
        </div>
        <div class="mb-2">
          <p class="type">Batterij</p>
          <p class="value">{{ device.battery }}%</p>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<nb-card>
  <nb-card-body>
    <div class="row justify-content-center mt-4">
      <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Vorige" nextLabel="Volgende" responsive="true"></pagination-controls>
    </div>
  </nb-card-body>
</nb-card>
