.type {
  font-size: 1em;
  font-weight: bold;
  border-bottom: 1px solid #ebeff5;
}

.value {
  font-size: 1em;
}

.name-btn {
  padding: 2px;
  margin-left: 15px;

  i {
    font-size: 2.5em;
  }
}
