<nb-card>
  <nb-card-body>
    <div class="row justify-content-center text-center">
      <div class="col-md-4 justify-content-center">
        <img src="assets/images/avans-logo.jpg"
             style="max-width: 100%; height: 55px;">
      </div>
      <div class="col-md-4 justify-content-center">
        <img src="assets/images/waqs-logo.jpg"
             style="max-width: 100%; height: 55px;">
      </div>
      <div class="col-md-4 justify-content-center">
        <img src="assets/images/den-bosch-logo.jpg"
             style="max-width: 100%; height: 55px;">
      </div>
    </div>

    <hr/>

    <div class="row justify-content-center">
      <h1 style="padding: 20px">WATERQUALITY SENSE - VAN REACTIEF NAAR PROACTIEF</h1>
    </div>

    <hr />

    <div class="row">
      <div class="col-md-6">
        <p>Hoe kan de gemeente in plaats van reactief, proactief reageren op de waterkwaliteit in en rond Den Bosch?</p>
        <p>Tijdens dit project onderzoeken wij een meetoplossing voor waterkwaliteit die geschikt is voor de gemeente
          Den
          Bosch zodat hiermee in plaats van reactief, proactief kunnen reageren op de kwaliteit van de wateren de Aa,
          (Stads-)dommel, Zuid Willemsvaart, Ertveldplas en de Dieze. Op dit moment is er te weinig inzicht in de
          kwaliteit van het inkomende en uitgaande water. Het uitgeven van vergunningen en organiseren van evenementen
          is
          hierdoor lastig.
          De oplossing die wij voorogen hebben is een klein meetstation rond Den Bosch. De resultaten van het
          meetstation
          moeten online in een dashboard inzichtelijk zijn voor de betrokken stakeholders.
        </p>
        <p>In de onderzoeksfase zijn wij langs twee waterschappen geweest. Het eerste waterschap wat wij bezocht hebben
          is
          de Dommel. Zij doen zelf al veel op het gebied van het meten van waterkwaliteit met sensoren die gekoppeld
          zijn
          aan het netwerk. Op de foto hier rechts kijken we naar een installatie die extra zuurtstof aan het water
          toevoegt wanneer dit onder de maat is van een waterzuivering.
          Daarnaast is er een partij in Vlissingen die een MultiFlexMeter heeft gemaakt waarmee op afstand bepaalde
          gegevens over bijvoorbeeld het NAP worden uitgewisseld met een netwerk. Wij gaan hier informatie inwinnen en
          dit
          doorvertalen naar een oplossing voor dit project.
        </p>
        <p>Met de informatie die wij bij de waterschappen hebben opgedaan en de eisen die de opdrachtgever ons heeft
          gegeven gaan wij de komende weken een sensorkit maken die informatie verstrekt over de waterkwaliteit in en
          rond
          Den Bosch. Met het ontwikkelen van een online dashboard zal ook worden opgepakt. Wat ons toekomstbeeld is van
          de
          sensorkit? Zie de foto hieronder.</p>
      </div>
      <div class="col-md-6">
        <img src="assets/images/foto-waterzuivering-eindhoven.jpeg"
             style="max-width: 100%; border-radius:5px; border:1px solid #eaeaea">
      </div>
    </div>

    <hr/>

    <div class="row justify-content-center">
      <h2>WAQS - Concept behuizing</h2>
    </div>

    <hr/>

    <div class="row text-center" style="margin-top: 20px">
      <div class="col-md-12">
        <img src="assets/images/waqs-mov.gif" style="max-width: 100%; border-radius:5px; border:1px solid #eaeaea"/>
      </div>
    </div>

    <hr/>
  </nb-card-body>
</nb-card>
